aiofiles==0.8.0
aiohttp==3.7.4
aiosignal==1.2.0
alphabet-detector==0.0.7
anyio==3.5.0
APScheduler==3.6.3
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.9.1
better-profanity==0.7.0
bing-image-downloader==1.1.2
bleach==4.1.0
Brotli==1.0.9
cachetools==4.2.2
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
cloudscraper==1.2.60
countryinfo==0.1.2
dnspython==2.2.1
dotmap==1.3.29
emoji==1.7.0
envparse==0.2.0
fake-useragent==0.1.11
Flag==0.1.1
fonttools==4.31.2
frozenlist==1.3.0
future==0.18.2
fuzzysearch==0.7.3
google==3.0.0
google-trans-new==1.1.9
gpytranslate==1.4.0
greenlet==1.1.2
gTTS==2.2.4
h11==0.12.0
hachoir==3.1.3
heroku3==5.1.4
html2text==2020.1.16
httpcore==0.14.7
httpx==0.22.0
idna==3.3
img2pdf==0.4.3
jikanpy==4.3.2
lxml==4.6.3
markdown2==2.4.2
motor==2.5.1
multicolorcaptcha==1.2.0
multidict==6.0.2
mutagen==1.45.1
nekos.py==1.0.3
nudepy==0.5.1
numpy==1.22.3
opencv-python-headless==4.5.5.64
packaging==21.3
pendulum==2.1.2
pikepdf==5.1.1
Pillow==9.1.0
psutil==5.9.0
psycopg2-binary==2.9.3
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@907070d129b7cf80b0236d72fb498667b5b22b63
pyaes==1.6.1
pyasn1==0.4.8
pycryptodomex==3.14.1
pykeyboard==0.1.5
pymongo==3.12.3
pyparsing==3.0.7
pyrate-limiter==2.6.3
Pyrogram==1.4.12
PySocks==1.7.1
python-arq==6.0.3
pyyaml
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
regex==2022.3.15
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.8
redis
search-engine-parser==0.6.6
secureme==0.0.4
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
spamwatch==0.3.0
speedtest==0.0.1
SQLAlchemy==1.4.34
telegraph==2.1.0
Telethon==1.24.0
TgCrypto==1.2.3
tornado==6.1
tswift==0.7.0
typing-extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
webencodings==0.5.1
websockets==10.2
wget==3.2
wikipedia==1.4.0
yarl==1.7.2
youtube-search==2.1.0
youtube-search-python==1.6.3
yt-dlp==2022.3.8.2
