aiofiles
aiohttp
aiosignal
alphabet-detector
anyio
APScheduler
async-timeout
attrs
beautifulsoup4
better-profanity
bing-image-downloader
bleach
Brotli
cachetools
certifi
chardet
charset-normalizer
click
cloudscraper
countryinfo
dnspython
dotmap
emoji
envparse==0.2.0
fake-useragent
Flag==0.1.1
fonttools
frozenlist
future
fuzzysearch
google
google-trans-new
gpytranslate
greenlet
gTTS
h11
hachoir
heroku3
html2text
httpcore
httpx
idna
img2pdf
jikanpy
lxml
markdown2
motor==2.5.1
multicolorcaptcha==1.2.0
multidict==6.0.2
mutagen==1.45.1
nekos.py
nudepy
numpy
opencv-python-headless
packaging==21.3
pendulum==2.1.2
pikepdf==5.1.1
Pillow
psutil==5.9.0
psycopg2-binary
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@main
pyaes==1.6.1
pyasn1==0.4.8
pycryptodomex==3.14.1
pykeyboard
pymongo
pyparsing
pyrate-limiter
pretty_errors
Pyrogram==1.4.16
PySocks
python-arq
pyyaml
pynewtonmath
python-dateutil==2.8.2
python-telegram-bot==13.11
ffmpeg-python
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
regex==2022.3.15
requests
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.8
redis
search-engine-parser==0.6.6
secureme==0.0.4
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
spamwatch==0.3.0
speedtest-cli
SQLAlchemy
telegraph
Telethon
TgCrypto
tornado
tswift
typing-extensions
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
webencodings==0.5.1
websockets==10.3
wget==3.2
wikipedia==1.4.0
yarl==1.7.2
youtube-search
youtube-search-python
yt-dlp
